@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #ececec;
}

li, a, button, header #branding {
    font-weight: 500;
    font-size: 16px;
    color: #24252a;
    text-decoration: none;
}
header #branding {
    margin-right: auto;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    border-bottom: #1d7d81 3px solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

header .highlight, header .current a{
    color: #1d7d81;
    font-weight: bold;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #1d7d81;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(29, 125, 129, 1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(232, 73, 29, 0.8);
}

.panel-container {
	background-color: #222;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
	height: 70vh;
	width: 70vw;
    max-width: 800px;
    margin: auto;
    margin-top: 1.5%;
}

.left {
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 40px;
	position: relative;
	width: calc(50% - 10px);
}

.left .input-group {
	border-bottom: 1px solid #333;
	font-weight: 400;
	font-size: 16px;
	margin: 30px 0 0;
}

.left p {
	color: #1d7d81;
	font-weight: 500;
	font-size: 13px;
	margin: 3px 0;
}

.left button {
	cursor: pointer;
	font-weight: 500;
	padding: 15px 30px;
    margin-top: auto;
    color: #ececec;
    display: inline-block;
}

.left::after {
	border-top: 0 solid transparent;
	border-bottom: 70vh solid transparent;
	border-left: 30px solid #222;
	content: '';
	position: absolute;
	top: 0;
	left: 100%;
	height: 0%;
	width: 0;
}

.right {
	background-image: url(../images/showcase.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: calc(50% + 20px);
}

/* Booking section styles */
.input-label{
    display: block;
}

.input, .options {
    outline: none;
    border: none;
    width: 100%;
    margin-top: 5px;
    padding: 2%;
    letter-spacing: 2px;
}

